* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*all box or container same size*/
    font-family: 'inter', sans-serif;
}

body {
    background: #e6f0f9;
    display: flex; /*all from body is flex-ed*/
    justify-content: center; /*align flex items to center*/
    align-items: center; /*align div items to center*/
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    margin: 20px;
    max-width: 1000px;
    min-height: 1000px;
    background: white;
    display: grid;
    grid-template-columns: 1fr 2fr; /*grid col=1 fraction left side, 2 frac right side*/
    border-radius: 20px;
    box-shadow: 0 10px 46px #282823;
    overflow: hidden;
}

.container .left-side {
    position: relative;
    background: #002746;
    padding: 40px; /*padding from container bg*/
}

.profile-name {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 17px;
    border-bottom: 1px solid #fff;
}

/* .profile-name .img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden; /*partner border-radius
 */

/* .profile-name .img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* object-fit: cover; 
 */

.profile-name h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-top: 22px;
    /* font-weight: 500; */
    line-height: 1.4em; /*padding between name and span text*/
}

.profile-name h2 span {
    font-size: 0.7em;
    font-weight: 300;
}

.contact-info {
    padding-top: 20px;
}

.title {
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    padding: 10px;
    margin-bottom: 20px;
}

.contact-info ul, .education ul, .skills ul {
    position: relative;
}
.contact-info ul li, .education ul li, .skills ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
    font-size: 1em;
}

.contact-info ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 20px;
    color: #03a9f4;
}

.contact-info .text{
    color: white;
    font-weight: 300;
}

.education li {
    padding: 5px;
}

.education {
    padding-top: 60px;
}

.education ul li h5{
    color: #03a9f4;
    font-size: 15px;
    padding: 4px;
    font-weight: 500;
}

.education ul li h4 {
    color: white;
    font-weight: 400;
}

.container .right-side {
    position: relative;
    background: white;
    padding: 40px; /*padding from container bg*/
}

.about  {
    margin-bottom: 10px;
}

.about h2, .skills h2 {
    text-transform: uppercase;
    color:#002746;
    letter-spacing: 1px;
}

.about p{
    text-align: justify;
    color: #37384c;
}

.skills h2 {
    margin-top: 70px;
}

.skills ul li .icon {
    position: relative;
    display: inline;
    width: 30px;
    font-size: 28px;
    color: #03a9f4;
}

.skills .text{
    color: #002746;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 3px;
}

.skills ul li {
    padding: 6px;
}